/* general reset for padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* full-width, fixed height navigation bar */
#navbar {
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/* styling for ihu logo in navbar */
#navbar-ihu-logo {
    height: 60px;
    cursor: pointer;
    transform: rotate(40deg);
    margin-right: auto;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

/* ratate ihu on hover */
#navbar-ihu-logo:hover {
    transform: rotate(10deg);
}

/* main content styling */
main {
    padding: 20px;
    color: #333; /* text color */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px; /* space below the navbar */
}

/* full-width image styling (instrument at night) */
#full-width-image {
    width: 100%;
    height: 600px; /* fixed height */
    object-fit: cover; /* ensure image scales while keeping fixed height */
    display: block; /* remove any extra space below the image */
}

/* container for header image and slogan text overlay */
#image-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/* overlay slogan text container with grid layout */
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns, slogan is in left */
    align-items: center;
    color: #F9F4ED; /* text color */
    background-color: rgba(0, 0, 0, 0.3); /* optional dark overlay */
}

/* slogan text in the first column */
.text-column {
    padding-left: 100px; /* optional padding */
}

/* font for slogan text */
.text-column h1, .text-column p {
    font-family: Arial, Helvetica, sans-serif;
}

.text-column h1 {
    font-size: 4em; /* make HATPI title large */
}

.text-column p {
    font-size: 1.75em;
}






/* about section styling */
#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* padding: 40px; */
    max-width: 1000px;
    /* background-color: beige; */
    margin: 0 auto; /* center container on screen */
    justify-items: center;
}



/* column styling withint the about section */
.about-column {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    /* background-color: blue; */
}

/* mosaic image styling in the about section */
.mosaic-image {
    width: 375px;
    height: auto;
    margin-bottom: 15px;
    cursor: pointer;
    border: 2px solid black;
    background-color: #E6E6E6;
    padding: 30px;
}

.about-column h1 {
    font-size: 2em;
    text-align: left !important;
}

.about-column p {
    font-size: 1.5em;
    text-align: left;
}

.centered-text {
    text-align: center !important;
}