<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About HATPI</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- Top banner -->
    <header id="about-header">
        <a href="/" id="home-link">
            <img src="/static/images/hatpi_logo.jpeg" alt="Home" class="home-icon">
        </a>
    </header>
</body>
</html>
