<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About HATPI</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- Top banner -->
    <header id="about-header">
        <a href="/" id="home-link">
            <img src="/static/images/hatpi_logo.jpeg" alt="Home" class="home-icon">
        </a>
    </header>

    <!-- About page navigation -->
    <div id="about-page-navigation">
        <a href="#" class="about-nav-link active-link">The History of HATPI</a>
        <span class="vertical-pipe"></span>
        <a href="#key-science" class="about-nav-link">Key Science</a>
        <span class="vertical-pipe"></span>
        <a href="#photo-gallery" class="about-nav-link">Photo Gallery</a>
    </div>
</body>

</html>
