<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HATPI</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

</head>
<body>
    <!-- Navigation bar -->
     <nav id="navbar">
        <!-- hamburger icon for navigation -->
        <div id="hamburger-icon" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
         </div>
     </nav>

     <!-- container with header image and HATPI slogan -->
     <div id="image-container">
        <!-- full-width image below the navbar of hatpi mosaic -->
        <!-- timelapse banner movie -->
         <video id="timelapse-video" autoplay muted loop>
            <source src="/static/images/timelapse_loop.webm" type="video/webm">
            Your browser does not support the video tag
         </video>
        <!-- <img src="/static/images/instrument_night.JPG" alt="Project Banner Image" id="full-width-image"> -->

        <!-- overlay text in css grid layout -->
         <div class="text-overlay">
            <div class="text-column">
                <h1>HATPI</h1>
                <p>A new lens on the universe</p>
                <p>High-precision imaging of the full night sky</p>
            </div>
         </div>
            <!-- navigation links under the banner image -->
            <nav id="bottom-links">
                <a href="/about.html">About</a>
                <a href="/light_curves.html">Light Curves</a>
                <a href="/publications.html">Publications</a>
            </nav>  
    </div>


    <main>
        <!-- about section -->
        <section id="about">
            <!-- left column: mosaic -->
            <div class="about-column">
                <a href="/static/images/mosaic_highres.jpg" target="_blank">
                    <img src="/static/images/mosaic_lowres_cropped.png" alt="High Res Mosaic" class="mosaic-image">
                </a>
            </div>
            <!-- right column: header and description -->
             <div class="about-column-right">
                <h1>The HATPI Project<span class="vertical-pipe-h1"></span><a href="https://hatpi.org/about" class="learn-more">Learn More</a> </h1>
                <p>In a single 30 second exposure, the HATPI instrument<br>observes 180 
                    degrees of the night sky from its observing<br>site in the Atacama Desert <a href="https://maps.app.goo.gl/gZSJrSEGmgmbA47X9" class="coordinate-link"> | -29.010486, -70.701080</a>
                </p>
                <img src="/static/images/three_about_pics.jpeg" alt="three about pics" class="three-about-pics">
                
             </div>
        </section>

        <!-- light curves section on home page -->
        <section id="light-curves">
            <h1>Light Curves<span class="vertical-pipe-h1"></span><a href="https://hatpi.org/light_curves" class="visit-page">Visit Page</a> </h1>
            <p>Access more than a petabyte of HATPI data</p>
            <a href="https://hatpi.org/light_curves">
                <img src="/static/images/light_curves_page.png" alt="Light curves website" class="light-curves-image">
            </a>
        </section>

        <!-- publications section on home page -->
        <section id="publications">
            <h1>Publications<span class="vertical-pipe-h1"></span><a href="https://hatpi.org/publications" class="coming-soon">Coming Soon</a> </h1>
        </section>

        <!-- team section on home page -->
        <section id="team">
            <h1>Team</h1>
            <!-- First row grid -->
            <div class="team-grid-row">
                <!-- Team Member 1 -->
                 <a href="https://www.astro.princeton.edu/~gbakos/" class="team-member-link">
                    <div class="team-member">
                        <img src="/static/images/gaspar.png" alt="Person 1">
                        <p class="team-name">Gáspár Bakos</p>
                        <p class="team-role">Project Director</p>
                    </div>
                 </a>

                <!-- Team Member 2 -->
                <a href="https://www.astro.princeton.edu/~jhartman/" class="team-member-link">
                    <div class="team-member">
                        <img src="/static/images/joel.png" alt="Person 2">
                        <p class="team-name">Joel D. Hartman</p>
                        <p class="team-role">Research Astronomer</p>
                    </div>
                 </a>

                <!-- Team Member 3 -->
                <a href="https://web.astro.princeton.edu/people/zoltan-csubry" class="team-member-link">
                    <div class="team-member">
                        <img src="/static/images/zoli.png" alt="Person 3">
                        <p class="team-name">Zoltán Csubry</p>
                        <p class="team-role">Professional Specialist</p>
                    </div>
                 </a>
            </div>
        
            <!-- Second row grid -->
            <div class="team-grid-row">
                <!-- Team Member 4 -->
                <a href="https://web.astro.princeton.edu/people/attila-b%C3%B3di" class="team-member-link">
                    <div class="team-member">
                        <img src="/static/images/attila.png" alt="Person 3">
                        <p class="team-name">Attila Bódi</p>
                        <p class="team-role">Professional Specialist</p>
                    </div>
                 </a>
                <!-- Team Member 5 -->
                <a href="https://www.physics.ox.ac.uk/our-people/talens" class="team-member-link">
                    <div class="team-member">
                        <img src="/static/images/geert.png" alt="Person 3">
                        <p class="team-name">Geert Jan Talens</p>
                        <p class="team-role">Professional Specialist</p>
                    </div>
                 </a>
            </div>
        </section>
        


    </main>

    <script src="/static/script.js"></script>
</body>
</html>
