<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HATPI</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Navigation bar -->
     <nav id="navbar">
        <!-- hamburger icon for navigation -->
        <div id="hamburger-icon" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
         </div>
     </nav>

     <!-- container with header image and HATPI slogan -->
     <div id="image-container">
        <!-- full-width image below the navbar of hatpi mosaic -->
        <!-- timelapse banner movie -->
         <video id="timelapse-video" autoplay muted loop>
            <source src="/static/images/timelapse_loop.webm" type="video/webm">
            Your browser does not support the video tag
         </video>
        <!-- <img src="/static/images/instrument_night.JPG" alt="Project Banner Image" id="full-width-image"> -->

        <!-- overlay text in css grid layout -->
         <div class="text-overlay">
            <div class="text-column">
                <h1>HATPI</h1>
                <p>A new lens on the universe</p>
                <p>High-precision imaging of the full night sky</p>
            </div>
         </div>
            <!-- navigation links under the banner image -->
            <nav id="bottom-links">
                <a href="/about.html">About</a>
                <a href="/light_curves.html">Light Curves</a>
                <a href="/publications.html">Publications</a>
            </nav>  
    </div>


    <main>
        <!-- about section -->
        <section id="about">
            <!-- left column: heading and paragraph text -->
             <div class="about-column">
                <h1>The HATPI Project</h1>
                <p>In a single 30 second exposure, the HATPI instrument is able
                    to observe the majority of the night sky visible from its observing 
                    site in Chile. This is accomplished by 64 carefully aligned instrument-holder 
                    units (IHUs; including lenses, CCD cameras, focusers, and fine-pointing
                    mechanisms) to a large mount. The mount tracks stars as they rise and set
                    during the night while the telescope keeps imaging, effectively creating a movie
                    of the night sky.
                </p>
             </div>

             <!-- right column: mosaic and mosaic details -->
             <div class="about-column">
                <a href="/static/images/mosaic_highres.jpg" target="_blank">
                    <img src="/static/images/mosaic_lowres_cropped.png" alt="High Res Mosaic" class="mosaic-image">
                </a>
                <p class="centered-text">Mosaic of the night sky.</p>
             </div>
        </section>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>
