<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HATPI</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Navigation bar -->
     <nav id="navbar">
        <!-- hamburger icon for navigation -->
         <div id="hamburger-icon" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
         </div>
     </nav>

     <!-- full-width image below the navbar of hatpi mosaic -->
      <img src="/static/images/panorama_highres _cropped.jpg" alt="Project Banner Image" id="full-width-image">

    <main>
        <p>This is the landing page for the HATPI project.</p>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>
